.hero {
  background-image: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-54058.jpg?size=626&ext=jpg&ga=GA1.2.1850852697.1696715278&semt=ais');
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
